{% macro config_script(values) -%}
#!/bin/sh
{% set config_file = "/data/settings.json" %}
if [ ! -f "{{ config_file }}" ]; then
  echo "File [{{ config_file }}] does NOT exist. Creating..."
  touch "{{ config_file }}"
fi

echo "Setting bind port to [{{ values.network.web_port.port_number }}] in [{{ config_file }}]"
yq -i '.core.webserver.values.bind_port = {{ values.network.web_port.port_number }}' "{{ config_file }}"
echo "Setting base url to [{{ values.music_assistant.base_url }}] in [{{ config_file }}]"
yq -i '.core.webserver.values.base_url = "{{ values.music_assistant.base_url }}"' "{{ config_file }}"
yq -i '.core.webserver.domain = "webserver"' "{{ config_file }}"

echo "Setting stream port to [{{ values.network.stream_port.port_number }}] in [{{ config_file }}]"
yq -i '.core.streams.values.bind_port = {{ values.network.stream_port.port_number }}' "{{ config_file }}"
yq -i '.core.streams.domain = "streams"' "{{ config_file }}"
{%- endmacro %}
