{% from "macros/global/perms/script.sh.jinja" import perms_shell %}

{% macro perms_container(mode, uid, gid, chmod) %}
image: bash
user: root
entrypoint:
  - bash
  - -c
command:
  - |
    {{- perms_shell(mode=mode, uid=uid, gid=gid, chmod=chmod) | indent(4) }}
{% endmacro %}
