{% macro caddyfile(values) -%}
{
	layer4 {
		:{{ values.network.smtp_port.port_number }} {
			proxy {
				to {{ values.consts.windmill_server_container_name }}:2525
			}
		}
	}
}

:80 {
	reverse_proxy /ws/* http://{{ values.consts.lsp_container_name }}:3001
	reverse_proxy /* http://{{ values.consts.windmill_server_container_name }}:8000
}
{%- endmacro %}
