{% macro crontab(values) -%}
{%- set base_cmd = "%s python3 /app/diskover/diskover.py" | format(values.diskover_data.cron_schedule) %}
{{ "%s /data" | format(base_cmd) }}
{%- for store in values.storage.additional_storage if store.index_data %}
{{ "%s %s" | format(base_cmd, store.mount_path) }}
{%- endfor %}
{% endmacro %}
