{% macro default_config() -%}
default_config:
tts:
  - platform: google_translate
automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml
{%- endmacro %}

{% macro default_recorder(db_url) -%}
recorder:
  purge_keep_days: 30
  commit_interval: 3
  db_url: {{ db_url }}
{%- endmacro %}
