{% macro nginx_conf(values) -%}
server {
  {%- if values.network.certificate_id %}
    listen              {{ values.network.web_port.port_number }} ssl;
    ssl_certificate     {{ values.consts.ssl_cert_path }};
    ssl_certificate_key {{ values.consts.ssl_key_path }};
  {%- else %}
    listen              {{ values.network.web_port.port_number }};
  {%- endif %}

    error_page          500 502 503 504  /50x.html;
    location = /50x.html {
        root            /usr/share/nginx/html;
    }

    location / {
        root            /usr/share/nginx/html;
        index           index.html index.htm;
    }

    location /health {
        return          200;
    }
}
{%- endmacro %}
