{% from "macros/global/permissions.py.jinja" import apply_permissions %}
{%- macro permissions_container(paths = []) -%}
permissions:
  image: python:3.11
  user: root
  entrypoint: python
  command:
    - -c
    - |
      {{ apply_permissions(paths=paths) | indent(6) }}
  volumes:
    {% for path in paths %}
    - {{ "%s:%s" | format(path.host_path, path.mount_path) }}
    {% endfor %}
{% endmacro %}
