{
	layer4 {
		:{{ values.network.smtp_port }} {
			proxy {
				to {{ values.consts.windmill_server_container_name }}:2525
			}
		}
	}
}

{$BASE_URL} {
	bind {$ADDRESS}
	reverse_proxy /ws/* http://{{ values.consts.lsp_container_name }}:3001
{% if values.optional.enable_multiplayer %}
	reverse_proxy /ws_mp/* http://{{ values.consts.multiplayer_container_name }}:3002
{% endif %}
{% if values.optional.enable_indexer %}
	reverse_proxy /api/srch/* http://{{ values.consts.windmill_indexer_container_name }}:8002
{% endif %}
	reverse_proxy /* http://{{ values.consts.windmill_server_container_name }}:8000
{% if values.network.certificate_id %}
	tls {{ values.consts.ssl_cert_path }} {{ values.consts.ssl_key_path }}
{% endif %}
}
