{% macro mqtt_config(values) -%}
# Changes in this file will be lost at the next restart
# Use {{ values.consts.extra_config_path }} directory for additional configuration
listener {{ values.network.broker_port.port_number }}

{%- if values.network.ws_port.bind_mode %}
listener {{ values.network.ws_port.port_number }}
protocol websockets
{%- endif %}

log_dest stdout
allow_anonymous {{ values.mosquitto.allow_anonymous | string | lower }}

persistence {{ values.mosquitto.enable_persistence | string | lower }}
{%- if values.mosquitto.enable_persistence %}
persistence_location {{ values.consts.data_path }}
autosave_interval {{ values.mosquitto.autosave_interval }}
{%- endif %}

include_dir {{ values.consts.extra_config_path }}
{% endmacro %}
