{% macro setup_script(values) -%}
import json

path = "{{ values.consts.data_dir }}/config/config.json"
print("Updating config...")

try:
  with open(path, "r") as f:
    data = json.load(f)
except:
  print("Config not found, skipping...")
  exit(0)

data["general"]["port"] = {{ values.network.web_port }}
print("Setting port to", data["general"]["port"])

try:
  with open(path, "w") as f:
    json.dump(data, f, indent=4)
except:
  print("Failed to update config, exiting...")
  exit(1)

print("Config updated!")
{%- endmacro -%}
